/*Asterisk to override default settings by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#board {
    width: 550px;
    height: 500px;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0a0a23;
    border: 10px solid yellow;
}

.card {
    width: 129px;
    height: 13vh;
    margin: auto;
    border: 2px solid blue;
    /*Effect for when the card is click*/
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s
}
/*Effect for when the card is click*/
.card:active {
    transform: scale(0.96);
    transition: transform .2s;
  }