/*Asterisk to override default settings by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#board{
    width: 550px;
    height: 495px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0a0a23;
    border: 10px solid yellow;
}

.card{
    width: 120px;
    height: 70px;
    /*Add space between the cards*/
    margin: 2.5px;
}
